@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

/* colours */
:root {
--background: #D8DAD3;
--header:  #094074;
--header2: #3F88C5;
--footer: #1B1725;

/* fonts */
--font-family: 'Lato', sans-serif;
--font-family: 'Oswald', sans-serif;

}

body{
 font-family: lato;
 background-color: var(--background);
 font-size: 1em;



}

p{
  text-align: center;
}

.apply {
  text-align: center;
  margin: 2em 0;
  font-family: lato;
  font-size: 1.4em;
  text-shadow: 0 0 3px black;
  
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.apply a {
background-color: var(--header);
padding: 0.25em 0.5em;
border-radius: 8px;

}
.btn{
  color: white;
  text-align: center;

}
.applynow {
  padding-left:40%;
}

.weblogo{
  text-align: center;
  background-color: var(--header);
  max-width: 100%;
  max-height: 100%;
}
.mainmenu{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

.mainmenu a{
  text-decoration: none;
  font-family: lato;
  margin: 0.5em;
  font-size:1.2em;
  color: white;
  
}

.mainmenu li :hover{
border-radius: 30px;
background-color: black;

}
fieldset{
  background-color: white;

}

h3{
  font-size: 1.5em;
  text-decoration-line: underline;
}

dt{
  font-size: 1.5em;
  text-decoration-style: solid;
  padding:0.5em;
}

dd{
  font-variant-caps:all-small-caps;
  font-size: 1.5em;
  padding: 0.5em;
  
}

.open{
  background-color: green;
  text-decoration-line: underline;
  
}


.closed{
  background-color: red;
  text-decoration-line: line-through;
}

.unknown{
background-color: grey;
}

dl{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}


.campustitle{
  font-size: 1em;
  text-decoration-line: underline;
  padding: 1em;
}

.picture{
  text-align: center;
  padding: 3em;
  

  
}
.finder{
  text-align: center;
  padding: 1em;
  font-family: lato;
  font-size: 1.4em;
  
}

.finder a{

padding: 0.25em 0.5em;
border-radius: 8px;
font-size: 1.5em;
color: white;
}

.compare{
padding-left: 23%;
padding-top: 5%;

}

.compare li :hover{
  border-radius: 30px;
  background-color: var(--header2);
}

.finderbtn{
background-color: var(--header);


}

label{
  font-size: 1.5em;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "campus" "contact" "connect" 
                       "gbc"                    ;
  background-color: var(--footer);
}

.footercampus{
  color: white;
  margin: 2em;
}

.footercampus a {
  color: white;
}

.footercampus :hover{
  background-color: black;
  border-radius: 30px;
}

.contact{
  color: white;
  margin: 2em;
}

.contact a{
  color: white;

}
.contact :hover{
  background-color: black;
  border-radius: 30px;
}
.connect{
 color: white;
 margin: 2em;
 
}
.connect :hover{
background-color: black;
border-radius: 30px;
}
.gbc{
  color: white;
  margin: 2em;
  justify-self: left;
}

@media screen and (max-width: 680px){


.mainmenu {
  display: block;
  

}
  


.courselist {
  display: block;
}
}